@page "/notebooks"
@using WorklogDomain
@using WorklogWebAssembly.Shared
@inject HttpClient Http
@inject AppState State

<h1>Notebook List</h1>



@if (notebooks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Cont recs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notebook in notebooks)
            {
                <tr>
                    <td><a href="/notebooks/@notebook.Id">@notebook.Name</a></td>
                    <td>@notebook.Created.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@(notebook.Records?.Count() ?? 0)

                    <button @onclick="() => RemoveNotebook(notebook.Id)">Remove</button>
                    </td>


                 </tr>
            }
            <tr>
                <td colspan="3">

                    <EditForm Model="@newNotebook" OnValidSubmit="@AddNotebook">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        name: <InputText id="name" @bind-Value="newNotebook.Name" />
                        namespace: <InputText id="namespace" @bind-Value="newNotebook.NamespaceMd5" />

                        <button type="submit">Add</button>
                    </EditForm>

                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    private Notebook[] notebooks;
    private Notebook newNotebook = new();

    protected override async Task OnInitializedAsync()
    {
        await ReloadNotebooks();
    }
    protected async Task ReloadNotebooks()
    {
        notebooks = await Http.GetFromJsonAsync<Notebook[]>("api/notebook");
    }
    protected async Task AddNotebook()
    {
        Notebook clone = new();
        clone.NamespaceMd5 = newNotebook.NamespaceMd5.CreateMD5();
        clone.Name = newNotebook.Name;
        await Http.PostAsJsonAsync<Notebook>("api/notebook", clone);
        newNotebook = new();
        await ReloadNotebooks();
    }
    protected async Task RemoveNotebook(string id)
    {
        await Http.DeleteAsync($"api/notebook/{id}");
        await ReloadNotebooks();
    }
}
